<!DOCTYPE html>
<html>
{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
    <h2>Recipe Directory</h2>
    <i>Click any of the links below to be redirected to a recipe.</i>
    <ul>    
        {% for recipe in recipes %}
            <li>
                <a href="{% url 'recipe_info' recipe.id %}">{{ recipe.recipe_name }}</a>
            </li>
        {% endfor %}
    </ul>
    <!-- login/logout buttons -->
    <nav>
        {% if request.user.is_authenticated %}
        Currently logged in as <b>'{{ user.username }}'. </b>
        <a href="{% url 'add_recipe' %}">Add a Recipe?</a>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>

        {% else %}
            Currently logged out. <a href="{% url 'login' %}">Login?</a>
        {% endif %}
    </nav>
{% endblock %}
</html>
